Web Trends

{% for this_item in web_trends %}
  {% for this_country, these_stories in this_item.items() %}
  {# {{ this_country }} #}
  {% for this_story in these_stories %}
    **{{ this_story['title'] }}**
    {{ this_story['summary'] }}

  {% endfor %}
  {% endfor %}
{% endfor %}
